<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Condo Management System</a>
      <ul>
        <li><a href="/authors">Units</a></li>
        <li><a href="/authors/new">Add Unit</a></li>
      </ul>
    </nav>
  </header>