<div class="container">
  <a href="/unit" class="btn btn-primary mb-3">Back</a>
  <h1 class="mb-1">Block & Unit number: <%= unit.blockUnitNumber %></h1>
  <div class="text-muted mb-2">
    Date created: <%= unit.createdAt.toLocaleDateString() %>
  </div>
  <h4 class="mb-3">Owner name: <%= unit.name %></h1>
  <h4 class="mb-3">Contact number: <%= unit.contactNumber %></h1>
</div>