* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// .container{
//     min-height: 100vh;
//     background-color: #fff;

//     .navbar{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 10px 10%;
//         background-color: rgb(156, 156, 156);

//         h2 {
//             color: #FFF;
//         }

//         li, a {
//             text-decoration: none;
//             list-style-type: none;
//             color: #FFF;
//             font-weight: bold;
//             font-size: 20px;
//         }

//         li {
//             display: inline-block;
//             padding: 0 20px;
//         }

//         li a {
//             transition: all 0.3s ease 0s;
//         }

//         li a:hover {
//             color: #0088a9;
//         }
//     }

// }